<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mooncloak.vpn.app.android"
    android:dataExtractionRules="@xml/backup_rules"
    android:fullBackupContent="@xml/backup_rules">

    <!-- Permissions -->

    <!-- Allows the application to access the internet which is required for the VPN application to function. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Allows the application to access information about the network state, such as using ConnectivityManager. -->
    <!-- Required to obtain local IP address information needed to construct the VPN configuration. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Allows the application to access information about the WiFI state, such as using WifiManager. -->
    <!-- Required to obtain local IP address information needed to construct the VPN configuration. -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Required to show notifications. We are required by Android to show a notification when the VPN service is activated. -->
    <!-- See documentation for more details: https://developer.android.com/develop/ui/views/notifications/build-notification#permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Required to allow the VPN service to be launched as a Foreground Service. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <!-- Required by Foreground Services to be able to toggle the VPN connection on and off. -->
    <!-- Android will crash without this permission when attempting to start a Foreground Service that needs to toggle the VPN connection. -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name="com.mooncloak.vpn.app.android.MooncloakVpnApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/mooncloak_app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activities -->

        <activity
            android:name="com.mooncloak.vpn.app.android.activity.LauncherActivity"
            android:exported="true"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mooncloak.vpn.app.android.activity.DeepLinkForwardingActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <!-- TODO: Add deep link intent filters -->
        </activity>

        <activity
            android:name="com.mooncloak.vpn.app.android.activity.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.mooncloak.vpn.app.android.activity.VPNPreparationActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.mooncloak.vpn.app.android.activity.QuickConnectActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="com.mooncloak.vpn.app.android.service.action.quick_connect" />
            </intent-filter>
        </activity>

        <!-- Services -->

        <!-- The WireGuard GoBackend VpnService. This is in the AndroidManifest of the Android WireGuard library we use. -->
        <service
            android:name="com.wireguard.android.backend.GoBackend$VpnService"
            android:exported="false"
            android:foregroundServiceType="systemExempted"
            tools:ignore="ForegroundServicePermission"
            tools:node="merge" />

        <!-- The Android Mooncloak VPN Service. This service will run in the foreground when a VPN is enabled. -->
        <service
            android:name=".service.MooncloakVpnService"
            android:exported="false"
            android:foregroundServiceType="systemExempted"
            android:permission="android.permission.BIND_VPN_SERVICE"
            tools:ignore="ForegroundServicePermission">
            <intent-filter tools:ignore="ForegroundServicePermission">
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <!-- Quick Settings Tile Service. This allows the VPN to be toggled from the Android Settings Dropdown on the device. -->
        <service
            android:name=".service.MooncloakTileService"
            android:exported="true"
            android:icon="@drawable/ic_quick_tile"
            android:label="@string/mooncloak_app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            tools:targetApi="n">

            <!-- Sets the Tile Service as a toggleable action (two states: on/off). -->
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- A Service that performs the quick connect app shortcut action. This is similar to the Tile Service above but opened via an App Shortcut. -->
        <service
            android:name=".service.QuickConnectService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />

        <!-- BroadcastReceivers -->

        <receiver
            android:name=".receiver.DisconnectTunnelsBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.mooncloak.vpn.app.android.receiver.DISCONNECT_TUNNELS" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
