<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<dict>
    <key>com.apple.security.application-groups</key>
    <array>
        <string>group.com.mooncloak.vpn.app-ios</string>
    </array>
    <key>com.apple.security.network.extension</key>
    <true/>
</dict>
<plist version="1.0">
<dict/>
</plist>
